@model Pedidos.Abstracciones.ModelosParaUI.PedidoDto

@{
    ViewBag.Title = "Registrar Pedido";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <h2 class="mb-4">Registrar Pedido</h2>


            <div class="p-4 border rounded shadow-sm bg-light">
                @using (Html.BeginForm("CrearPedido", "Pedido", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="mb-3">Datos del Pedido</h4>
                    <hr />


                    <div class="mb-3">
                        <label>Cliente Asociado:</label>
                        <div class="mb-3">
                            @Html.TextBoxFor(model => model.ClienteId, new { @class = "form-control", @disabled = "disabled" })
                        </div>


                        <div class="mb-3">
                            @Html.TextBoxFor(model => model.ClienteId, new { @class = "form-control", @hidden = "hidden" })
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Lista de Productos:</label>
                        <div class="mb-3">
                            @Html.DropDownListFor(m => m.Productos,
                                         Model.Productos.Select(d => new SelectListItem()
                                         {
                                             Value = d.Id.ToString(),
                                             Text = d.Nombre
                                         }), new { @id = "Productos" })
                        </div>
                    </div>
                    <br />
                    <h6>Digite el ID del producto y la cantidad para calcular su monto:</h6>
                    <label>ID:</label>
                    @Html.TextBoxFor(model => model.ProductoId, new { @class = "form-control", style = "", @id = "idProducto" })
                    <label>Precio Unitario:</label>
                    @Html.TextBoxFor(model => model.Precio, new { @class = "form-control", style = "", @id = "precioProducto" })
                    <label>Descuento(%):</label>
                    @Html.TextBoxFor(model => model.Descuento, new { @class = "form-control", style = "", @id = "descuentoProducto" })


                    @Html.TextBoxFor(model => model.ImpuestosPorc, new { @class = "form-control", style = "", @id = "preImpuesto", @hidden = "hidden" })
                    <div class="mb-3">
                        <label>Cantidad:</label>
                        <div class="mb-3">
                            @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @id = "cantidadProducto" })
                        </div>
                    </div>

                    <h6>Factura:</h6>

                    <div class="mb-3">
                        <label>Subtotal:</label>
                        <div class="mb-3">
                            @Html.TextBoxFor(model => model.Subtotal, new { @class = "form-control", @disabled = "disabled", @id = "subtotalProducto" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.TextBoxFor(model => model.Subtotal, new { @class = "form-control", @hidden = "hidden", @id = "subtotalProducto2" })
                    </div>

                    <div class="mb-3">
                        <label>Impuestos:</label>
                        <div class="mb-3">
                            @Html.TextBoxFor(model => model.Impuestos, new { @class = "form-control", @disabled = "disabled", @id = "impuestosProducto" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.TextBoxFor(model => model.Impuestos, new { @class = "form-control", @hidden = "hidden", @id = "impuestosProducto2" })
                    </div>

                    <div class="mb-3">
                        <label>Descuentos:</label>
                        <div class="mb-3">
                            <input id="descuentoProducto2" class="form-control" value="0" disabled />
                        </div>
                    </div>


                    <div class="mb-3">
                        <label>Total:</label>
                        <div class="mb-3">
                            @Html.TextBoxFor(model => model.Total, new { @class = "form-control", @disabled = "disabled", @id = "totalProducto" })
                        </div>
                    </div>

                    <div class="mb-3">
                        @Html.TextBoxFor(model => model.Total, new { @class = "form-control", @hidden = "hidden", @id = "totalProducto2" })
                    </div>

                    <div class="mb-3">
                        <label></label>
                    </div>


                    <div class="d-grid gap-2 mt-4">
                        <input type="submit" value="Crear Pedido" class="btn btn-primary btn-lg" />
                    </div>
                }
            </div>


            <div class="mt-3">
                @Html.ActionLink("Volver a la Lista", "ListarPedido", null, new { @class = "btn btn-secondary btn-sm" })
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            // Funcion GET_Producto (Desde Dropdown)
            $('#Productos').click(function () {
                var id = $("#Productos").val();
                $("input[id=idProducto]").val(id);

                $.ajax({
                    type: "GET",
                    url: "../../pedido/DetallesProducto/" + id,
                    dataType: "json",
                    success: function (data) {
                        detalles = data;
                        console.log(detalles);
                        $("input[id=precioProducto]").val(detalles.Precio);
                        $("input[id=preImpuesto]").val(detalles.ImpuestoPorc);

                        if ($("input[id=cantidadProducto]").val() != null) {
                            var precio = $("#precioProducto").val();
                            var impuesto = $("#preImpuesto").val();
                            var cantidad = $("#cantidadProducto").val();
                            var subTotal = precio * cantidad;
                            var impuestos = (subTotal * impuesto) / 100;
                            var total = subTotal + impuestos;
                            if ($("#descuentoProducto").val != 0 && $("#descuentoProducto").val != null) {
                                var descuento = $("#descuentoProducto").val();
                                descuento = (total * descuento) / 100;
                                total = total - descuento;
                                $("#descuentoProducto2").val(descuento);
                            }
                            $("#subtotalProducto").val(subTotal);
                            $("#impuestosProducto").val(impuestos);
                            $("#totalProducto").val(total);
                            $("#subtotalProducto2").val(subTotal);
                            $("#impuestosProducto2").val(impuestos);
                            $("#totalProducto2").val(total);

                        }
                    },
                });

            });

            // Funcion GET_Producto (Desde el Input)
            $("input[id='idProducto']").keyup(function () {
                var detalles = new Object();
                var id = $("#idProducto").val();

                $.ajax({
                    type: "GET",
                    url: "../../pedido/DetallesProducto/" + id,
                    dataType: "json",
                    success: function (data) {
                        detalles = data;
                        console.log(detalles);
                        $("input[id=precioProducto]").val(detalles.Precio);
                        $("input[id=preImpuesto]").val(detalles.ImpuestoPorc);

                        if ($("input[id=cantidadProducto]").val() != null) {
                            var precio = $("#precioProducto").val();
                            var impuesto = $("#preImpuesto").val();
                            var cantidad = $("#cantidadProducto").val();
                            var subTotal = precio * cantidad;
                            var impuestos = (subTotal * impuesto) / 100;
                            var total = subTotal + impuestos;
                            if ($("#descuentoProducto").val != 0 && $("#descuentoProducto").val != null) {
                                var descuento = $("#descuentoProducto").val();
                                descuento = (total * descuento) / 100;
                                total = total - descuento;
                                $("#descuentoProducto2").val(descuento);

                            }
                            $("#subtotalProducto").val(subTotal);
                            $("#impuestosProducto").val(impuestos);
                            $("#totalProducto").val(total);
                            $("#subtotalProducto2").val(subTotal);
                            $("#impuestosProducto2").val(impuestos);
                            $("#totalProducto2").val(total);

                        }
                    },
                });

            });

            // Funcion GET_Producto (Desde cantidad + Validacion Stock)
            $("input[id='cantidadProducto']").keyup(function () {
                var detalles = new Object();
                var id = $("#idProducto").val();

                $.ajax({
                    type: "GET",
                    url: "../../pedido/DetallesProducto/" + id,
                    dataType: "json",
                    success: function (data) {
                        detalles = data;
                        $("input[id=precioProducto]").val(detalles.Precio);
                        $("input[id=preImpuesto]").val(detalles.ImpuestoPorc);
                        var cantidad = $("input[id=cantidadProducto]").val();
                        console.log(detalles.Stock);
                        if (cantidad <= detalles.Stock) {
                            var precio = $("#precioProducto").val();
                            var impuesto = $("#preImpuesto").val();
                            var cantidad = $("#cantidadProducto").val();
                            var subTotal = precio * cantidad;
                            var impuestos = (subTotal * impuesto) / 100;
                            var total = subTotal + impuestos;
                            if ($("#descuentoProducto").val != 0 && $("#descuentoProducto").val != null) {
                                var descuento = $("#descuentoProducto").val();
                                descuento = (total * descuento) / 100;
                                total = total - descuento;
                                $("#descuentoProducto2").val(descuento);

                            }
                            $("#subtotalProducto").val(subTotal);
                            $("#impuestosProducto").val(impuestos);
                            $("#totalProducto").val(total);
                            $("#subtotalProducto2").val(subTotal);
                            $("#impuestosProducto2").val(impuestos);
                            $("#totalProducto2").val(total);

                        } else {
                            alert("La cantidad a ordenar supera los stocks");
                            $("#cantidadProducto").val("");
                        }
                    },
                });

            });

            // Calculo Descuento
            $("input[id='descuentoProducto']").keyup(function () {
                if ($("input[id=precioProducto]").val() != null) {
                    var precio = $("#precioProducto").val();
                    var impuesto = $("#preImpuesto").val();
                    var cantidad = $("#cantidadProducto").val();
                    var subTotal = precio * cantidad;
                    var impuestos = (subTotal * impuesto) / 100;
                    var total = subTotal + impuestos;
                    if ($("#descuentoProducto").val != 0 && $("#descuentoProducto").val != null) {
                        var descuento = $("#descuentoProducto").val();
                        descuento = (total * descuento) / 100;
                        total = total - descuento;
                        $("#descuentoProducto2").val(descuento);

                    }
                    $("#subtotalProducto").val(subTotal);
                    $("#impuestosProducto").val(impuestos);
                    $("#totalProducto").val(total);
                    $("#subtotalProducto2").val(subTotal);
                    $("#impuestosProducto2").val(impuestos);
                    $("#totalProducto2").val(total);


                }
            });


        });

    </script>
}
