@model IEnumerable<Pedidos.Abstracciones.ModelosParaUI.ClienteDto>
@{
    ViewBag.Title = "Orden de Pedidos segun cliente";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">

            <h2 class="mb-3">@ViewBag.Title</h2>


            <div class="table-responsive">


                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered" id="laTablaDePedido">
                        <thead class="">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                                    <td class="text-center text-nowrap">
                                        @Html.ActionLink("Pedir", "CrearPedido", new { Id = item.Id }, new { @class = "btn btn-primary" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="../Scripts/jquery-3.7.0.min.js"></script>
    <script src="../Scripts/DataTable/dataTables.js"></script>
    <script>
        $(document).ready(function () {
            let productosTable = new DataTable('#laTablaDePedido');

        });
    </script>
}